body {
  background-color: darkblue;
}

#main-page {
  text-align: center;
}

#start-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#start-button:hover {
  background-color: lightgray;
}

